tr
    td = service.name
    td = link_to t('backend.edit'), edit_backend_service_path(service)
    td = link_to t('backend.delete'), backend_service_path(service), method: :delete, data: {confirm:  "#{t('backend.delete_alert')} #{service.name}?"}