@import variables
@import mixins

#apartments
    .apartment
        margin-bottom: 30px
        +media($md)
            display: flex

        &:last-child
            margin-bottom: 0

        .image
            +bg
            flex-basis: 30%
            padding-top: 50%

            +media($md)
                padding-top: 0

        .info
            flex-grow: 1
            padding: 30px

            .name
                margin-bottom: 15px

            .features
                display: flex
                flex-wrap: wrap
                align-items: center
                margin: 
                    top: 15px
                    bottom: 30px

                .dot-separator
                    &:before
                        content: ''
                        display: block
                        width: 3px
                        height: 3px
                        border-radius: 50%
                        background-color: $brandColor
                        margin: 0 12px

            .price
                p
                    font-size: 14px
                    line-height: 24px
                    color: $secondaryColor

                    &.digit
                        font-size: 32px
                        line-height: 42px


