#area
    .content
        margin-top: 40px

        .paragraph
            margin-bottom: 20px

            h4
                margin-bottom: 20px

    .gallery
        margin-bottom: 70px

    #apartments-map
        padding-top: 100px
