@import variables
@import objects

body
    font-family: 'Lato', sans-serif
    
    &.pages
        &.home, &.owners, &.about
            +media($xl)
                margin-top: -110px

            header
                +media($xl)
                    margin-top: 30px


    &.site
        //max-width: 1440px
        //width: 100%
        //margin: 0 auto
        

        +media($md)
            padding:
                left: 100px
                right: 100px

        header
            //max-width: 1440px
            margin: 0 auto
            transition: all .2s ease-out

            &.inScroll
                margin-top: 0

    h1,h2,h3,h4,h5,h6,p,span,a,i,label,div,ul,li,select,textarea
        color: $brandColor
        margin: 0

    header
        background-color: white
        padding: 20px

        +media($md)
            padding: 20px 0

        .navbar
            padding: 0
            justify-content: center

            /* +media($xl)
                justify-content: space-between */

            img
                //width: 90px
                width: 120px

            .nav-item
                +media($xl)
                    margin-left: 40px

                .nav-link
                    font-size: 16px
                    line-height: 16px
                    letter-spacing: 0
                    font-weight: 700
                    font-style: italic
                    text-transform: capitalize
                    padding: 20px
                    font-family: Lora

                .btn
                    font-size: 16px
                    line-height: 16px
                    letter-spacing: 0
                    font-weight: 700
                    font-style: italic
                    text-transform: capitalize
                    font-family: Lora


            #toggle-menu
                position: absolute
                left: 0
                top: 15px
                cursor: pointer
                padding: 5px

                +media($xl)
                    display: none
                

                .line
                    transition: all .3s linear
                    display: block
                    height: 2px
                    background-color: $brandColor
                    width: 10px

                    &.long
                        width: 20px
                        margin-bottom: 7px



        #main-menu-mobile
            position: fixed
            left: 0
            top: 100vh
            width: 100%
            height: calc(100% - 105px)
            background-color: white
            transition: all .3s linear

        &.mobile-opened
            #main-menu-mobile
                top: 105px

            #toggle-menu
                top: 10px

                .line
                    width: 20px
                    transform: rotate(-45deg) translate(7px)

                    &.long
                        transform: rotate(45deg) translate(6px)
                        margin-top: 9px


        .desktop
            display: none

            +media($xl)
                display: block

        .mobile
            display: block

            +media($xl)
                display: none

            .navbar-nav
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%,-50%)

        


    main
        margin-top: 108px
                    
                
                
