@import variables
@import objects

body
    font-family: 'Lato', sans-serif

    +media($md)
        margin:
            left: 50px
            right: 50px

    h1,h2,h3,h4,h5,h6,p,span,a,i,label,div,ul,li,select,textarea
        color: $brandColor
        margin: 0

    header
        background-color: white
        padding: 20px

        +media($md)
            padding: 20px 50px

        .navbar
            padding: 0
            justify-content: center

            +media($lg)
                justify-content: space-between

            img
                width: 90px

            .nav-item
                +media($lg)
                    margin-left: 50px

                .nav-link
                    font-size: 12px
                    line-height: 16px
                    letter-spacing: 1.5px
                    font-weight: 700
                    text-transform: uppercase
                    padding: 20px

            #toggle-menu
                position: absolute
                left: 0
                top: 15px
                cursor: pointer
                padding: 5px

                +media($lg)
                    display: none
                

                .line
                    transition: all .3s linear
                    display: block
                    height: 2px
                    background-color: $brandColor
                    width: 10px

                    &.long
                        width: 20px
                        margin-bottom: 7px



        #main-menu-mobile
            position: fixed
            left: 0
            top: 100vh
            width: 100%
            height: calc(100% - 108px)
            background-color: white
            transition: all .3s linear

        &.mobile-opened
            #main-menu-mobile
                top: 108px

            #toggle-menu
                top: 10px

                .line
                    width: 20px
                    transform: rotate(-45deg) translate(7px)

                    &.long
                        transform: rotate(45deg) translate(6px)
                        margin-top: 9px


        .desktop
            display: none

            +media($lg)
                display: block

        .mobile
            display: block

            +media($lg)
                display: none

            .navbar-nav
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%,-50%)

        


    main
        margin-top: 108px
                    
                
                
