@import variables
@import objects

body
    font-family: 'Lato', sans-serif

    +media($md)
        margin:
            left: 50px
            right: 50px

    +media($xl)
        margin: 
            left: 100px
            right: 100px

    h1,h2,h3,h4,h5,h6,p,span,a,i,label,div,ul,li
        color: $brandColor
        margin: 0

    header
        padding:
            top: 20px
            bottom: 20px

        img
            width: 46px

        .nav-item
            margin-left: 50px

            .nav-link
                font-size: 12px
                line-height: 16px
                letter-spacing: 1.5px
                font-weight: 700
                text-transform: uppercase
                padding: 20px
                
                
