@import variables
@import mixins

#homepage
    .intro-banner
        background-image: url(asset_path('homepage/intro.jpg'))

    #about-us
        .medium-text
            margin-bottom: 30px


    #our-services
        .services
            margin-top: 40px

            +media($xl)
                margin-top: 0

            .service
                margin-bottom: 70px

                img
                    width: 46px
                    margin-bottom: 25px

                h4
                    font-weight: 700
                    margin-bottom: 10px

    #destinations
        .swiper-slide
            width: 260px

            &:last-child
                margin-right: 0

            +media($xl)
                //width: calc(25% - 20px)

        .destination
            position: relative
            +bg

            .text
                position: relative
                padding:
                    top: 280px
                    bottom: 40px
                    left: 30px
                    right: 30px

                +media($xl)
                    padding-top: 380px

                h5,p
                    color: white

    #informations
        .intro-banner
            background-image: url(asset_path('homepage/informations.jpg'))

            .title-with-text
                margin: 0
                padding-top: 140px

                +media($xl)
                    padding-top: 320px

                .text
                    margin: 0

        .request-form
            padding-top: 70px
            background-color: $brandColor

            +media($xl)
                padding-top: 100px

            .btn-secondary
                margin-top: 60px
                width: 100%

                +media($xl)
                    width: auto

            .form-control
                margin-bottom: 30px

            form
                margin-top: 70px

                +media($lg)
                    margin-top: 0

                
