@import global

#apartments-map
    #map
        //height: 150px

        &.desktop
            display: none

            +media($xl)
                display: block

        +media($xl)
            height: 400px

    #preload
        display: none

.gm-style-iw-d
    overflow: auto !important
    max-width: 100% !important
    max-height: 100% !important
        
.gm-style-iw.gm-style-iw-c
    padding: 0 !important

.window-marker-container
    +media($lg)
        display: flex

    .window-marker-image
        .image
            +bg
            height: 100px

            +media($lg)
                height: 200px

            +media($lg)
                width: 200px
                height: 100%

    .window-marker-info
        padding: 15px

        span
            font-family: Lora
            font-style: italic

        .title
            display: block
            font-size: 18px
            margin-bottom: 10px

        .features
            margin: 0