@import variables
@import mixins

.custom-wrap
    padding:
        left: 15px
        right: 15px

    +media($lg)
        padding: 0

.custom-section
    padding-top: 80px

    +media($lg)
        padding-top: 150px

    &.invert
        p,input,span,i
            color: white

.primary-font
    font-family: 'Lato', sans-serif

.secondary-font
    font-family: 'Lora', serif

.giant-text
    font-size: 32px
    line-height: 40px

    +media($lg)
        font-size: 60px
        line-height: 70px

.big-text
    font-size: 40px
    line-height: 50px

.medium-text
    font-size: 18px
    line-height: 28px

    +media($lg)
        font-size: 24px
        line-height: 34px

.normal-text
    font-size: 16px
    line-height: 26px

.small-text
    font-size: 12px
    line-height: 16px

.intro-banner
    +bg
    position: relative

    &:before
        content: ''
        display: block
        width: 100%
        height: 100%
        position: absolute
        left: 0
        right: 0

    &.type1
        &:before
            background: -moz-linear-gradient(left, rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%)
            background: -webkit-linear-gradient(left, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%)
            background: linear-gradient(to right, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%)

        .text
            position: relative
            padding:
                top: 95px
                bottom: 90px

            +media($lg)
                padding:
                    top: 170px
                    bottom: 320px

    &.type2
        &:before
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, $brandColor 100%)
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,$brandColor 100%)
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,$brandColor 100%)
                
    .text
        color: white


.title-with-text
    margin-bottom: 40px
    position: relative
    
    .title
        color: $secondaryColor
        font-size: 12px
        line-height: 16px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 1.5px
        margin-bottom: 20px

    .text
        font-style: italic
        font-size: 24px
        line-height: 34px

        +media($lg)
            font-size: 40px
            line-height: 50px

.request-form
    .form-group
        .form-control
            background-color: transparent
            border-radius: 0
            border: none
            border-bottom: solid 1px rgba(white,0.5)
            padding: 20px 0
            box-shadow: none


            &::placeholder
                color: white

.custom-card
    box-shadow: rgba(black, 0.05) 0 10px 25px

.search-form
    padding: 30px

    .form-group
        padding-bottom: 30px
        margin-bottom: 30px
        border-bottom: solid 1px rgba($brandColor,0.3)

        &.no-border
            border: none

        &.no-margin
            margin: 0

    label
        margin-bottom: 10px

    select
        text-transform: capitalize
        border: none
        cursor: pointer
        padding-left: 0

        &:active,&:focus,&:hover
            border: none
            box-shadow: none

    .btn
        width: 100%


.gallery.swiper-container
    .swiper-slide
        .image
            padding-top: 650px
            +bg

    .navigation
        width: 60px
        height: 60px
        background-color: rgba(white,0.5)
        border-radius: 50%
        position: absolute
        top: 50%
        z-index: 99
        cursor: pointer

        img
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%,-50%)
            width: 12px

        &.prev
            left: 50px

        &.next
            right: 50px

.tag
    text-transform: uppercase
    font-weight: 700
    color: $secondaryColor
    font-size: 12px
    line-height: 22px
    display: block
    letter-spacing: 1.5px