@import global

#owner
    .intro-banner
        background-image: url(asset_path('owner/intro.jpg'))

    #properties
        .property
            margin-bottom: 45px

            img
                width: 60px
                margin-bottom: 35px

            h3
                margin-bottom: 10px

            +media($lg)
                margin-bottom: 0

    #making
        #services
            .first
                margin-bottom: 80px

            .service
                margin-bottom: 40px

                +media($lg)
                    margin-bottom: 0

                img
                    width: 100%
                    border-radius: 5px
                    margin-bottom: 30px

                h4
                    margin-bottom: 10px
