<div id="calendar">
    #<v-date-picker mode='range' :min-date='new Date()' :disabled-dates="disabledDates" v-model='selectedDate'></v-date-picker>
    <v-date-picker mode='range' :min-date='new Date()' v-model='selectedDate'></v-date-picker>
</div> 
